body{
    background-color: #433f75;
    font-family:sans-serif 'Courier New', Courier, monospace;
}

.card{
    background-color: ;
    margin: 5em;
    color: #063852;
}

.btn{
    background-color: #063852;
    /* color: whitesmoke; */
}

.page_accueil{
    display: flex;
    flex-wrap: wrap;
    padding: 5em;
}

.niveaux ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.niveaux a{
    text-align: center;
    background-color: white;
    width: 20%;
    height: 20em;
    margin: 5em;
    justify-content: center;
}

a:link{
    text-decoration: none;
    color: #020509;
}

/* couleur des liens du menu de nav */
.accueil:hover{
    background-color: #5271FF;
    color: #020509;
}
.maternelle:hover{
    color: #020509;
    background-color: #FFCE38;
}
  .cp:hover{
    color: #f5f5f5;
    background-color: #5271FF;
}
  .ce1:hover{
    color: #020509;
    background-color: #FF0038;
}
  .ce2:hover{
    color: #020509;
    background-color: #FFCE38;
}
  .cm1:hover{
    color: #f5f5f5;
    background-color: #FF0038;
}
  .cm2:hover{
    color: #020509;
    background-color: #FFCE38;
}
  .a_propos:hover{
    color: #f5f5f5;
    background-color: #5271FF;
}


/* couleur des blocs de la page d'accueil lors du survol de la souris*/
.bloc_maternelle:hover{
    color: #020509;
    background-color: #FFCE38;
}
.bloc_cp:hover{
    color: #f5f5f5;
    background-color: #FF0038;
}
.bloc_ce1:hover{
    color: #f5f5f5;
    background-color: #5271FF;
}
.bloc_ce2:hover{
    color: #f5f5f5;
    background-color: #FF0038;
}
.bloc_cm1:hover{
    color: #020509;
    background-color: #FFCE38;
}
.bloc_cm2:hover{
    color: #020509;
    background-color: #5271FF;
}


nav{
    background-color: #433f75;
}

/*blocs du menu de navigation*/
nav li{
    color: #f5f5f5;
    background-color: #433f75;
    width: 6em;
}

nav a:link{
    color: #f5f5f5;
    text-decoration: none;
}

/* design du logo*/ 
.logo{
    color: #f5f5f5;
}

.niveaux img{
    width: 25%;
}

